* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login_flex{
    display: flex;
    flex-wrap: wrap;
}

.login-page {
    height: 100vh; /* Full height of the viewport */
    background-image: url("../../assets/images/login\ backgound.jpg"); /* Update with the correct path */
    background-size: cover; /* Cover the entire background */
    background-attachment: fixed; /* Keep the background fixed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    padding: 30px;
    backdrop-filter: blur(20px); /* Optional: Add a blur effect */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.login_container label {
    font-size: 30px;
}

.login_container input {
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}

.login_container button {
    width: 70%;
    height: 30px;
    background-color: #1E2A5E;
    color: white;
    font-size: larger;
    border-radius: 10px;
    margin-left: 40px;
}
#error_message{
    color: red;
    font-size: larger;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 5px;
}